/**
* @desc         adds default text styles
* @requires     none
*/

@font-face {
  font-family: "ManropeLight";
  src: url("/fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeMedium";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeRegular";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeSemiBold";
  src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeThin";
  src: url("/fonts/Manrope-Thin.ttf") format("truetype");
}

//body {
//  line-height: $base-line-height;
//}
//
//body,
//input,
//select,
//textarea {
//  font-family: $ff-light !important;
//}
//
//// headings and paragraph
//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//  font-style: normal;
//  font-family: $ff-semibold;
//}
//
//h1 {
//  font-size: $fs-regular;
//}
//
//pre,
//code {
//  font-family: $ff-code;
//}
